{% include directory ~ '/templates/includes/header.html.twig' %}

<div class="container-fluid content px-0">
    {{ page.content }}
</div>

{% include directory ~ '/templates/includes/footer.html.twig' %}

